.add-asset-link {
    color:#56B059;
    text-decoration: none;
      cursor: pointer; 

    &:hover {
        color: #1c5834; 
    }
}

.modal-pill-btn {
    height: 72px;
    width: 169px;
}

.btn-trash-disabled {
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
  cursor: not-allowed;
}

.icon-trash-disabled {
  color: #9e9e9e !important; 
  opacity: 1 !important;
}

.btn-outline-dark {
  &:hover {
    background-color: #F2F2F2;
    color: #000000;
    border-color: #000000;
  }
}