<div class="modal-container">
  <div class="modal-header px-5">
    <h4 class="d-flex gap-3 align-items-end" id="modal-basic-title">
      <fa-icon
        [icon]="['fas', 'hand-holding-dollar']"
        size="2x"
        class="icon-holding-money"
      ></fa-icon>
      <span class="fs-2 fw-bold">Add Assets</span>
    </h4>
    <button
      type="button"
      class="btn-close opacity-100 fs-3"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body px-5 py-4">
    <div class="border rounded py-3">
      <div
        class="d-flex justify-content-between px-4 pb-2 border-bottom fw-semibold"
      >
        <div class="flex-fill fw-bold fs-4">Type</div>
        <div class="flex-fill fw-bold fs-4">Value</div>
        <div style="width: 50px"></div>
      </div>
      
      @for (asset of assets; track $index) {
        <form
            class="d-flex w-100 gap-4 justify-content-center align-items-center px-4 mt-4"
        >
            <div class="w-100">
            <select 
            [(ngModel)]="asset.type" 
            class="form-select form-select-lg" 
            name="type-{{$index}}">
                <option selected disabled value="Select">- Select -</option>
                <option value="Gift">Gift</option>
                <option value="Savings">Savings</option>
                <option value="RRSP">RRSP</option>
                <option value="Other">Other</option>
            </select>
            </div>

            <div class="w-100">
            <div class="input-group">
                <div class="input-group-text fw-bold fs-4">$</div>
                <input
                type="number"
                step="0.01"
                [(ngModel)]="asset.value"
                name="value-{{$index}}"
                class="form-control form-control-lg"
                required
                />
            </div>
            </div>

            <div class="d-flex align-items-center justify-content-center">
            <button
                type="button"
                class="btn btn-danger rounded-circle icon-trash"
                [disabled]="deleteBtnDisabled"
                (click)="deleteAsset($index); $event.preventDefault()"
            >
                <fa-icon [icon]="['fas', 'trash-can']" size="2x" class=""></fa-icon>
            </button>
            </div>
        </form>
      }
      <div class="d-flex justify-content-end pe-4 mt-2 mb-4 align-items-center">
        <a
        class="add-asset-link gap-3"
        (click)="addAsset(); $event.preventDefault()"
      >
        <fa-icon [icon]="['fas', 'circle-plus']" size="2x" class=""></fa-icon>
        <span class="fw-semibold fs-4"> Add Another Asset</span>
      </a>
      </div>
      
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-between px-5 pb-5 pt-2">
    <button
      type="button"
      class="btn btn-outline-secondary rounded-button fs-4 modal-pill-btn"
      (click)="closeModal()"
    >
      Close
    </button>

    <button
      type="button"
      class="btn btn-outline-secondary rounded-button custom-outline-success fs-4 modal-pill-btn"
      (click)="submitAssets()"
    >
      Save
    </button>
  </div>
</div>
