.icon-holding-money {
    color: #56B059;
}

.add-asset-link {
    color:#56B059;
    text-decoration: none;
}

.modal-pill-btn {
    height: 72px;
    width: 169px;
}

.modal-pill-btn {
    height: 72px;
    width: 169px;
}
