
.app-container {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.no-assets-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    font-size: 1.2rem;
    height: 470px;

}

.icon-holding-money {
    color: #56B059;
    height: 91px;
    width: 103px;
}

.add-assets-btn {
    width: 258px;
    height: 72px;
    margin-top: 50px;
}

.grey-asset-background {
    background-color: #F0F0F0;
}

