
.app-container {
    background-color: #F0F0F0;
}

.no-assets-container {
    height: 470px;
}

.icon-holding-money {
    color: #56B059;
    height: 91px;
    width: 103px;
}

.add-assets-btn {
    width: 258px;
    height: 72px;
    margin-top: 50px;
}


